
@import 'custom.scss';
@import '_globals.scss';

$colors: (
  Pink: hsl(322, 100%, 66%),
  Light Pink: hsl(321, 100%, 78%),
  Light Red: hsl(0, 100%, 63%),
  Very Dark Cyan: hsl(192, 100%, 9%),
  Very Pale Blue: hsl(207, 100%, 98%),
);
$fallback-colors: (
  Cyclamen "Cherry Blossom Pink" "Fire Opal" Verdigris LightSteelBlue1 
);

@mixin background($url,$position:auto,$size:auto,$repeat:no-repeat,$fixed:fixed,$color:white){
    background: url($url) $position/$size $repeat $fixed $color; 
}
@mixin font-color($color, $fallback-color) {
  color: $fallback-color;
  color: $color;
}

@mixin bg-color($color, $fallback-color) {
  background-color: $fallback-color;
  background-color: $color;
}

@mixin width($grid-size) {
  width: $grid-size * 1px;
}
@mixin max-width($grid-size) {
  max-width: $grid-size * 1px;
}
@mixin min-width($grid-size) {
  min-width: $grid-size * 1px;
}
@mixin border-radius($radius...) {
  border-radius: $radius;
}
@mixin margin($args...) {
  margin: $args;
}
@mixin padding($args...) {
  padding: $args;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  font:{
     size: $font_size-16;
     weight: $font_weight-normal;
	 family: 'Open Sans', sans-serif;
  }
}
.red{border:4px solid red;}

.container {
    position:relative;
    @include width($container__form-xs);
	height:100%;
	top: 35px;
	.btn-primary{
		@include bg-color(map-get($colors,Pink),nth($fallback-colors,1));
		@include border-radius(25px);
	    border:none;
	    height:50px;
		box-shadow: 12px 12px 15px 12px map-get($colors,Very Pale Blue);
	    &:hover{
		  @include bg-color(map-get($colors,Light Pink),nth($fallback-colors,2));
		}
    }
	
	font:{
	   size: $font_size-16 * 1.2;
    }
    @for $i from 1 through 4 {
	    
	    &_#{$i} {
		   /*update widths for &_1 to &_4*/
		   @include width($container__form-xs);
		   @media screen and(min-width:$container__form-xxl * 1px){
		      @include width($container__form-xxl);
		   }
		}
		h#{$i}{
		  /*update font for headings h1-h4 */ 
		  font:{
			 family: 'Poppins', sans-serif;
		     weight:$font_weight-bold;
		  }
		}
	}
    &_1{
	  @include margin(50px 0);
	  #logo{
	     transform:scale(0.6,0.6);
		 position:relative;
		 right: 25px;
		 @media screen and(min-width:$container__form-xxl *1px){
		    transform:scale(0.8,0.8);
		 }
	  }
	  .btn-outline-primary{
	     @include font-color(map-get($colors,Light Pink),nth($fallback-colors,2));
		 border:3px solid map-get($colors,Light Pink);
		 @include border-radius(25px);
	  }
	  @media screen and(min-width:$container__form-xxl * 1px){
	     @include padding(150px 0);
	  }
	}	
    &_2{
	  .huge{
	     font:{
		   size:$font_size-28 * 3;
		   weight:$font_weight-bold;
		 }
	  }
	  #mockup{
	     transform:scale(0.6,0.6);
		 @media screen and(min-width:$container__form-xxl *1px){
		    transform:scale(0.8,0.8);
		 }
	  }
	  @media screen and(min-width:$container__form-xxl * 1px){
	     @include padding(50px 150px);
	  }
	}
	&_3{
	  /*#F6FBFF*/
	  margin-top:20px;
	  
	  .inner{
		z-index:-1;
	  }
	  .padding{
	      @media screen and(min-width:$container__form-xxl * 1px){
		     @include padding(0 0 0 25px);
		  }
	  }
	  #grow{
	     margin-top:-600px;
	    @media screen and(min-width:$container__form-xxl * 1px){
		    margin-top:-1200px;
		 }
	  }
	  #flowing{
	    margin-top:150px;
		margin-bottom:150px;
	    @media screen and(min-width:$container__form-xxl * 1px){
		    margin-top: 100px;
			margin-bottom:-200px;
		}
	  }
	  #users{
	     margin-top:-500px;
	     @media screen and(min-width:$container__form-xxl-min * 1px){
	        margin-top: -650px;
		 }
	  }
	  #community{
	     margin-top: 200px;
	     @media screen and(min-width:$container__form-xxl * 1px){
	        margin-top: 100px;
		 }
	  }
	  .margin-top{
		    margin-top:-400px;
		    @media screen and(min-width:$container__form-xxl * 1px){
			    margin-top:0;
			}
	  }
	  .outer{
		 
	     .top-background{
	        height: 800px;
		
	        .inner {
              &#first{
			     height: 75px;
			     background: url(./images/bg-section-top-mobile-1.svg) top left/100% 100% no-repeat;
			     transform:translateY(600px);
			     @media screen and(min-width:$container__form-xxl * 1px){
			       height:100px;
				   background: url(./images/bg-section-top-desktop-1.svg) top left/100% 100% no-repeat;
				   transform:translateY(900px);
			     }
			  }
              &#second{
			     height: 75px;
			     background:url(./images/bg-section-top-mobile-2.svg) top left/100% 100% no-repeat;
			     transform:translateY(600px) rotate(180deg);
			     @media screen and(min-width:$container__form-xxl * 1px){
			       height:100px;
				   background:url(./images/bg-section-top-desktop-2.svg) top left/100% 100% no-repeat;
			       transform:translateY(900px) rotate(180deg);
			     }
			  }
			  &#middle{
			    height:700px;
			    background-color:#F6FBFF;
			    transform:translateY(600px);
			    @media screen and(min-width:$container__form-xxl * 1px){
			      height:700px;
			      transform:translateY(900px);
			    }
			  }
			  @media screen and(min-width:$container__form-xxl * 1px){
			    height:400px;
			  }
           }
		   @media screen and(min-width:$container__form-xxl * 1px){
		     height:900px;
		   }
	    }
	  
	    .bottom-background{
		   
		  .inner{
            &#one{
			  height:75px;
			  background: url(./images/bg-section-bottom-mobile-1.svg) top left/100% 100% no-repeat;
			  transform:translate(0,550px) rotate(180deg);
			  @media screen and(min-width:$container__form-xxl * 1px){
			    height:1300px;
				background: url(./images/bg-section-bottom-desktop-1.svg) top left/100% 100% no-repeat;
			    transform:translate(0,800px) rotate(180deg);
			  }
	        }
            &#two{
			  height:75px;
			  background:url(./images/bg-section-bottom-mobile-2.svg) top left/100% 100% no-repeat;
			  transform:translate(0,530px);
			  @media screen and(min-width:$container__form-xxl * 1px){
                height:1300px;
				background:url(./images/bg-section-bottom-desktop-2.svg) top left/100% 100% no-repeat;
			    transform:translate(0,800px);
			  }
	        }
	        &#center{
			  height:550px;
			  background-color:#F6FBFF;
			  transform: translate(0,540px);
			  @media screen and(min-width:$container__form-xxl * 1px){
			    height: 7500px;
			    transform: translate(0,800px);
			  }
		    }
			@media screen and(min-width:$container__form-xxl * 1px){
			   height:400px;
			}
		 }
		 @media screen and(min-width:$container__form-xxl * 1px){
		    height:800px;
		 }
	   }
	  }
	  .illustration{
	     transform:scale(0.9,0.9);
		 @media screen and(min-width:$container__form-xxl *1px){
		    transform:scale(0.7,0.7);
		 }
	  }
	 
	  @media screen and(min-width:$container__form-xxl * 1px){
	     margin-top:300px; 
	  }
	}
	&_4{
	  height:100%;
	  form{
	     min-height:300px;
		 @media screen and(min-width:$container__form-xxl * 1px){
		   min-height:auto;
		 }
	  }
	  margin-top:30px;
	  #logo-bottom{
	     transform:scale(0.9,0.9);
		 @media screen and(min-width:$container__form-xxl *1px){
		    transform:scale(0.8,0.8);
			position:relative;
			right:15px;
		 }
		 & g path{
		  fill:white;
		 }
	  }
	  input{
	     width:320px;
		 height:60px;
		 @media screen and(min-width:$container__form-xxl * 1px){
		   width:400px;
		 }
	  }
	  .fa-brands{
	    @include font-color(map-get($colors,Very Pale Blue),nth($fallback-colors,5));
		&:hover{
		    color:#43E5F7;
		}
	  }
	  .btn-primary{
	     width:180px;
		 @include margin(15px 0 45px 0);
		 box-shadow: none;
		 @include border-radius(0px);
		 @media screen and(min-width:$container__form-xxl *1px){
		    @include margin(0 0 0 15px);
		 }
	  }
	  
	  #footer-curve{
	     height:75px;
	     background:url(./images/bg-footer-top-mobile.svg) top left/100% 100% no-repeat;
		 transform:translate(0,5px);
		 z-index:1;
		 @media screen and(min-width:$container__form-xxl * 1px){
		    background:url(./images/bg-footer-top-desktop.svg) top left/100% 100% no-repeat;
		 }
	  }
	  .background{
	     @include padding(50px 25px);
		 @include font-color(map-get($colors,Very Pale Blue),nth($fallback-colors,5));
	     @include bg-color(map-get($colors,Very Dark Cyan),nth($fallback-colors,4));
		 @media screen and(min-width:$container__form-xxl * 1px){
		    @include padding(100px 50px);
		 }
	  }
	  @media screen and(min-width:$container__form-xxl * 1px){
	  
	  }
	}
	
    @media screen and (min-width: $container__form-xxl * 1px) {
	   
       @include width($container__form-xxl);
	   @include padding(50px);  
	   
    }
  
}

#bottom-footer {
  position:relative;
  @include margin(0 0 0 15px);
  top: 530%;
  @media screen and(min-width:$container__form-xxl * 1px){
     top: 600%;
  }
  .attribution {
    font-size: $font_size-12;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
